<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        <%- include(templates/header.ejs); -%>
        <main>
            <div> </div>
        </main>
        <%- include(templates/footer.ejs); -%>
    </body>
</html>